@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Cordel';
    src: url('cordel.ttf') format('truetype');
    font-weight: normal;
}

:root{
    --fonte-cordel: 'Cordel, cursive;'
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(107, 66, 66);
    color: white;
}

.imagem > p{
    width: 400px;
    background-color: rgb(171, 94, 94);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}