@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "idroid";
    src: url("fontes/idroid.otf") format(opentype);
    font-style: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 30px;
    min-height: 150px;
}

header > h1{
    font-size: 3em;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.604);
    text-align: center
}

header > p{
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.604);
    text-align: center;
}

nav{
    text-align: left;
    padding: 10px;
    margin: 0px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
}

header > nav > a:hover{
    background-color: var(--cor2);
    text-decoration: none;
    transition-duration: 1s;
}

header > nav > a:active{
    color: white;
}

p{
    padding: 10px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > h1{
    font-family: "idroid", Helvetica, sans-serif;
    
}

main > p{
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

.destacado{
    color: #8F6840;
}

main > h2{
    font-family: "idroid", Helvetica, sans-serif;
    color:  #8F6840;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 0px;
}

main > p > a{
    text-decoration: none;
    color:  #8F6840;
}

main > p > a:hover{
    text-decoration: underline;
}

main > img{
    display: block;
    margin: auto;
}

main img{
    width: 100%;
}

.pequeno{
    width: 50%;
}

.link::after{
    content: " â˜";
    color: rgb(204, 157, 157)
}

a{
    text-decoration: none;
    color: green;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: blue;
}


main > article > iframe{
    display: block;
    margin: auto;
}

main{
    min-width: 320px;
    max-width: 800px;
}

main > img{
    width: 100%;
}

aside > p{
    font-size: 1em;
    line-height: 2em;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

aside{
    background-color: var(--cor1);
    padding: 10px;
}

aside > h2{
    background-color: var(--cor4);
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: white;
}

footer{
    background-color: brown;
    text-align: center;
    color: white;
}
